@media screen and (max-device-width: 480px) {
    body {
        font-size: 0.7em;
    }

    .stationtable {
        margin: 0 0 0 0;
        width: 100vw;
    }

    .stationtable td {
        border: solid thin #dddddd;
        padding: 20px 5px;
    }

    .stationtable th {
        padding: 20px 5px;
    }

    .type, .passlist, .lock {
        display: none;
    }

    #config {
        padding: 0;
    }

    #config fieldset {
        margin: 0;
    }

    #config label {
        margin: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
        background-color: #dfdfdf;
    }

    #config input:checked + label {
        background-color: white;
    }

    #config input {
        display: none;
    }
}
